<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- Data Source -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- JDBC 드라이버 클래스명 설정  -->
		<property name="driverClassName">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		<!-- JDBC 접속 문자열 설정 -->
		<property name="url">
			<value>jdbc:oracle:thin:@istudy.iptime.org:7000:ORCL</value>
		</property>
		<!-- MySQL 유저ID 설정 -->
		<property name="username">
			<value>KH21</value>
		</property>
		<!-- MySQL 패스워드 설정  -->
		<property name="password">
			<value>oracle</value>
		</property>
	</bean>

	<!-- Transaction -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource">
	</bean>
	
	<aop:config>
		<aop:pointcut id="serviceMethods" expression="execution(* logic.ShopImpl.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods" />
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="entryUser" propagation="REQUIRED" rollback-for="Exception" />
			<tx:method name="checkout" propagation="REQUIRED" rollback-for="Exception" />
			<tx:method name="*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<!-- MessageSource -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages.messages</value>
			</list>
		</property>
	</bean>

	<!-- Validator -->
	<bean id="loginValidator" class="shop.utils.LoginValidator" />
	<bean id="userEntryValidator" class="shop.utils.UserEntryValidator" />

</beans>